<!-- create static content -->
<div class="row">
    <div class="col s12 m8">
        <h2 class="header white-text">Americano</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="/americano.jpeg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p> A type of coffee drink prepared by diluting an espresso with hot water, giving it a similar
                        strength to, but different flavor from, traditionally brewed coffee. The strength of an
                        Americano varies with the number of shots of espresso and the amount of water added. The name is
                        also spelled with varying capitalization and use of diacritics: e.g., café americano.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Americano</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <h2 class="header white-text">Cappuccino</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="/cappuccino.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p> Outside of Italy, cappuccino is a coffee drink that today is typically composed of a single
                        espresso shot and hot milk, with the surface topped with foamed milk.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Cappuccino</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m5">
        <h2 class="header white-text">Latte</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="/latte.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p> A coffee drink made with espresso and steamed milk.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Latte</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <h2 class="header white-text">Espresso</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="/espresso.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p> A coffee-making method of Italian origin, in which a small amount of nearly boiling water is
                        forced under pressure (expressed) through finely-ground coffee beans. Espresso coffee can be
                        made with a wide variety of coffee beans and roast levels.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Espresso</a>
                </div>
            </div>
        </div>
    </div>
</div>