<!doctype html>
<html lang="en">
<!--Header for every page-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- load materialize css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- load icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- add static css file for customize style -->
    <link rel="stylesheet" href="/index.css">
    <!-- dynamic title come here from express route -->
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
</head>