<!--ui block with form for add a comments-->
<div class="container">
    <form action="/write" method="post">
        <h2 class="white-text">Leave a comment ... </h2>

        <div class="input-field">
            <input type="text" name="userName" placeholder="Put your name please" class="white-text">
            <textarea type="text" name="comment" placeholder="Add Comment"></textarea>
        </div>
        <button type="submit" class="btn">
            Create comment
        </button>
        <p></p>
    </form>
</div>